@import "../../../styles/variables";

.widget-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $c-lightgrey;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100%;

  .button {
    width: 100%;
  }

  .constraint {
    margin: auto;
    width: 100%;
    height: 75%;
    max-width: $rhythm * 35;
    padding: $rhythm;
  }

  .pre {
    display: flex;
    justify-content: space-between;
    margin-bottom: $rhythm * 3;
    width: 100%;

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
      padding: 0;

      img {
        height: 18px;
        width: 18px;
      }
    }
  }

  .logo {
    margin: auto;
    width: auto;
    display: flex;
    justify-content: center;

    img {
      height: 64px;
      width: 64px;
    }

    &:not(.logo--icon-only) {
      width: 33%;
      min-width: 150px;
    }
  }

  .post {
    margin-top: $rhythm * 3;
    text-align: center;
    font-size: 95%;
  }

  @media screen and (max-width: $screen-sm) {
    .constraint {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
