.account-container {
  display: flex;
  align-items: center;

  .btn-container {
    .btn {
      font-size: 15px;
    }

    .btn-error {
      background: $c-darkred;
    }
  }
}

.message-container {
  width: 100%;
  background-color: $c-white;
  border: 1px solid $c-red;
  border-radius: 4px;
  color: $c-red;
  padding: $rhythm;
}

.info-container {
  display: flex;
  align-items: center;

  > :first-child {
    margin-right: 40px;
  }
}

@media screen and (max-width: $screen-sm) {
  :host {
    padding-left: $rhythm;
    width: 100%;
  }

  .account-container {
    flex-direction: column;
  }

  .info-container {
    flex-direction: column;

    > * {
      margin-bottom: $rhythm;
    }
  }

  .btn-container {
    order: -1;
    flex-direction: column;
    width: 100%;
    margin-left: -($rhythm * 3);
  }

  .btn {
    width: 100%;
    border: 0;
    padding: 0;
    background: transparent;
    color: $c-black;
    font-size: 125%;
    margin-bottom: $rhythm;
    text-align: left;
    box-shadow: none;
    padding-left: $rhythm * 1.5;

    &:not(:disabled) {
      &:hover {
        background: $c-lightergrey;
      }
    }

    &:disabled {
      background: $c-lightergrey;
    }
  }
}
