.account-container {
  display: flex;
  align-items: center;

  .btn-container {
    .btn {
      font-size: 15px;
    }
  }
}

.message-container {
  width: 100%;
  background-color: $c-white;
  border: 1px solid $c-red;
  border-radius: 4px;
  color: $c-red;
  padding: $rhythm;
}


.info-container {
  display: flex;
  align-items: center;

  > :first-child {
    margin-right: 40px;
  }
}

@media screen and (max-width: $screen-sm) {
  .account-container {
    flex-direction: column;
  }

  .info-container {
    flex-direction: column;

    > * {
      margin-bottom: $rhythm;
    }
  }

  .btn-container {
    order: -1;
    flex-direction: column;
  }

  .btn {
    border: 0;
    padding: 0;
    background: transparent;
    color: $c-black;
    font-size: 125%;
    margin-bottom: $rhythm;
    text-align: left;
  }
}
