.app-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: $rhythm * 2;
}


@media screen and (max-width: $screen-sm) {
  .app-nav-content, .left {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .connection {
    margin: $rhythm * 2 0;
  }
}