@import "../../styles/variables";

.details {
  color: $c-darkgrey;
  font-size: 90%;
  margin-bottom: $rhythm * 3;
}

.input--balance {
  .unit {
    color: $c-blue;
  }
}

.balance-label {
  display: flex;
  justify-content: space-between;
}
