# Miscellaneous
.DS_Store

# Dependencies
node_modules
packages/**/node_modules

# Yarn
yarn-error.log

# coverage
coverage.json
coverage/
coverageEnv/
coverage.json
allFiredEvents
scTopics

# truffle build artifacts
ganache.log
packages/contracts/networks/7777777.json
packages/contracts/build/

.config
.node-gyp
.npm
tmp
jest-cache
.rpt2_cache
dist
lerna-debug.log
package-lock.json
packages/**/package-lock.json
packages/**/src/*.{d.ts,js,js.map}

# editors
.vscode
.vim*
