.DS_Store

# Dependencies
node_modules

# Yarn
yarn.lock
yarn-error.log

# coverage
coverage.json
coverage/
coverageEnv/
coverage.json
allFiredEvents
scTopics

# truffle build artifacts
build/
abis.json
ganache.log

# lerna
lerna-debug.log

# build directories
packages/contracts/lib
packages/test-utils/lib
packages/apps/lib

# build artifacts
packages/*/*.json.modified
packages/*/*.json.modified-e

# editors
.vscode
.viminfo
