.DS_Store

# Dependencies
node_modules

# Yarn
yarn-error.log

# coverage
coverage.json
coverage/
coverageEnv/
coverage.json
allFiredEvents
scTopics

# truffle build artifacts
build/
abis.json
ganache.log
networks/7777777.json

# build directories
/lib/

# editors
.vscode
.viminfo
