.widget-tooltip-message {
  display: none;
  position: absolute;
  width: 200px;
  margin-top: 10px;
  background: $c-black;
  color: $c-white;
  padding: 12px;
  font-size: 0.75rem;
  border-radius: 2px;
  box-shadow: 1px 2px 4px $c-darkgrey;

  &:before {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $c-black;
    transform: rotateZ(45deg);
    top: -5px;
    left: 20px;
    content: "";
  }
}

.widget-tooltip {
  position: relative;
  height: 100%;

  &:hover {
    .widget-tooltip-message {
      display: block;
    }
  }
}
