html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  background: #009f77;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body,
button,
input {
  font-family: "Dosis", sans-serif;
}
body {
  height: 100%;
  margin: 0;
  color: #fff;
  background-image: linear-gradient(-136deg, #01cd9a 52%, #009f77 100%);
  box-shadow: inset 0 0 200px 10px #0e8365;
  background-repeat: no-repeat;
  background-size: cover;
}
body::before {
  top: 0;
  left: 0;
  width: 23.4375;
  height: 100%;
  background-image: url(/assets/images/texture.svg);
  background-repeat: repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1rem 0;
}
button {
  cursor: pointer;
}
button,
input {
  background: 0 0;
  border: 0;
}
a {
  text-decoration: none;
}
.f-xl {
  font-size: 1.75rem;
}
.f-title {
  font-size: 1.5rem;
}
.f-body {
  font-size: 1.125rem;
}
.wrapper {
  max-width: 20rem;
  height: 100vh;
  margin: 0 auto;
}
.rematch {
  padding: 1.5rem 1.5rem 0;
}

.divider::before,
body::before {
  position: absolute;
  content: "";
  z-index: 0;
}
.divider {
  position: relative;
  width: calc(100% - 2.5rem);
  margin: 0 auto 2.5rem;
  box-shadow: inset 0 -1px 0 0 #00d49f, inset 0 0 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  background: #00674d;
  z-index: 2;
}
.divider__status {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.25rem;
  z-index: 1;
  text-align: center;
}
.divider__status--turn {
  -ms-flex-pack: center;
  justify-content: center;
}
.divider__status--won .result {
  color: #f2d549;
}
.divider__status--lost {
  background: #ad071c;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 0 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}
.divider::before {
  top: 50%;
  left: -1.25rem;
  width: calc(100% + 2.5rem);
  height: 1px;
  background: #00674d;
}
.actions {
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.actions > * + * {
  margin-left: 1rem;
}
.btn,
.btn--exit {
  border-radius: 6px;
}
.btn {
  position: relative;
  width: 10rem;
  padding: 0.68rem 1.3rem;
  background: #01cd9a;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.47px;
  text-align: center;
  border: 1px solid #009f77;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.4),
    0 6px 14px 0 rgba(0, 0, 0, 0.3);
}
.btn--exit {
  background: #009771;
  border: 1px solid #007f5f;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
}
.btn--center {
  display: block;
  margin: 0 auto;
}
.rematch,
.rematch__message {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.rematch {
  height: 100%;
}
.rematch__message {
  text-align: center;
}
.rematch__message__title {
  font-size: 1.75rem;
  margin: 0;
  text-transform: uppercase;
}
.rematch__message__body {
  font-size: 1.375rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.clickable {
  cursor: pointer;
}
.level {
  display: -ms-flexbox;
  display: flex;
}
.level > * + * {
  margin-left: 1rem;
}
