.info {
  display: flex;
  
  .info-img {
    margin-right: 12px;
    max-height: 14px;
  }

  .info-text {
    display: flex;
    flex-direction: column;

    .header {
      color: $c-lightgrey;
    }
  }
} 