.logo {
  margin: 10px;
  border: none;
  font-size: $f-base;

  &.logo--icon-only {
    border: 0;

    img {
      padding-right: 1rem;
    }
  }

  a {
    color: inherit;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  img {
    height: 2.5rem;
  }

  span {
    @include f-logo;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.7rem;
    padding: 0 $rhythm;
  }
}
