.dialog--open.dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

dialog {
  width: 340px;
  background: #fff;
  border-radius: 4px;
  padding: 0;
  border: 0;

  header {
    border-bottom: 2px solid $c-darkgrey;
    padding: 1rem;
  }

  widget-logo {
    display: block;

    & >>> .logo {
      font-size: 18px;
    }
  }

  main {
    padding: 40px;
    font-family: "Chivo", sans-serif;
    font-size: 24px;
    line-height: 36px;

    label {
      text-align: center;
      display: block;
    }

    .logo {
      display: block;
      margin: 0 auto 20px;
      width: 72px;
    }
  }

  footer {
    padding: 20px 15px;
    display: flex;
    justify-content: center;

    button {
      border: 1px solid $c-blue;
      padding: 15px;
      border-radius: 4px;
      background: $c-blue;
      color: #fff;
      font-family: "Chivo", sans-serif;
      font-size: 18px;
      flex: 1;

      &.btn--secondary {
        margin-right: 15px;
        background: #fff;
        color: $c-blue;

        &:hover {
          background: lighten($color: $c-blue, $amount: 40%);
        }
      }

      &:hover {
        background: darken($color: $c-blue, $amount: 10%);
      }
    }
  }
}
