:host {
  &.dialog--open {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
  }
}

dialog {
  width: 70%;
}

dialog button {
  border: 1px solid black;
  padding: 15px;
  margin-right: 10px;

  &:hover {
    background: #ccc;
  }
}
