@import "../../../styles/_variables";

.channel-node {
  width: 100%;

  .channel-node-wrapper {
    padding-bottom: $rhythm * 2;

    &:hover {
      background: $c-lightgrey;
    }

    &.channel-node-wrapper--hub {
      border-bottom: 1px solid #eaeaea;
    }
  }

  .channel-info:hover > .channel-name {
    color: $c-blue;
  }

  .channel-controls {
    display: inline-flex;
    flex-direction: row;
  }

  .channel-info {
    display: inline-flex;
    flex-direction: column;
  }

  .channel-icon,
  .channel-control-toggle-placeholder,
  .channel-control-toggle {
    width: 32px;
    height: 32px;
  }

  .channel-name {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: $rhythm;
  }

  .channel-address {
    font-size: 0.8rem;
    color: $c-darkgrey;
  }
}
