@import "../../../styles/_variables";

.channel-node {
  width: 100%;

  .channel-node-wrapper {
    display: flex;
    padding-top: $rhythm;
    padding-bottom: $rhythm;

    &:hover {
      background: $c-lightgrey;
    }

    &.channel-node-wrapper--hub {
      border-bottom: 1px solid #eaeaea;
    }
  }

  .channel-info:hover > .channel-name {
    color: $c-blue;
  }

  & > .channel-tree .channel-controls > .channel-control-toggle-placeholder {
    margin-left: 32px;
  }

  .channel-controls {
    display: inline-flex;
    flex-direction: row;
  }

  .channel-info {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
  }

  .channel-icon,
  .channel-control-toggle-placeholder,
  .channel-control-toggle {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .channel-control-menu {
    justify-self: flex-end;
    height: 28px;
    width: 15px;
    &:focus {
      outline: none;
    }
  }

  .channel-name {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: $rhythm * 0.5;
  }

  .channel-address {
    font-size: 0.8rem;
    color: $c-darkgrey;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 360px;
  }

  .channel-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: $c-white;
    box-shadow: 0px 2px 10px $c-mediumgrey;
    right: 50px;
    width: auto;
    min-width: 100px;

    &.channel-menu--visible {
      position: absolute;
      display: block;
    }

    & > li {
      padding: $rhythm;
      text-align: right;

      &:hover {
        background: $c-lightgrey;
        cursor: pointer;
      }
    }
  }
}
