.spinner {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-left: 5px;

  &.spinner--hidden {
    visibility: hidden;
  }
}

.spinner:after {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
