.item {
  position: relative;
  margin: 1rem;
}

.icon {
  position: relative;
  border-radius: $rhythm * 2;

  > .notification {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    color: $c-white;
    font-size: $f-sm;
    background: $c-red;
  }

  > img {
    display: block;
    width: 126px;
    border-radius: $rhythm * 2;
    object-fit: cover;
  }
}

.name {
  display: block;
  @include f-base;
  text-align: center;
  font-weight: $f-light;
  color: $c-darkgrey;
  color: #707070;
  line-height: 37.5px;
}

@media screen and (max-width: $screen-sm) {
  .icon {
    display: flex;
    justify-content: center;
    border-radius: 16px;

    > .notification {
      top: -0.75rem;
      right: -0.75rem;
      width: 2.5rem;
      height: 2.5rem;
      font-size: $f-reg;
    }

    > img {
      width: 100%;
      max-width: 200px;
      max-height: 200px;
    }
  }
}