.info {
  display: flex;
  align-items: center;
  color: $c-black;
  padding: 6px;

  .info-img {
    margin-right: $rhythm;
    max-height: 20px;
  }

  .info-text {
    display: flex;
    flex-direction: column;
    min-width: 100px;

    .header {
      color: $c-darkgrey;
      font-weight: 500
    }
  }

  &:hover {
    background: #efefef;
    border-radius: 4px;
  }

}
