.info {
  display: flex;
  color: $c-black;
  padding: 6px;

  .info-img {
    margin-right: $rhythm;
    max-height: 14px;
    margin-top: 10px;
  }

  .info-text {
    display: flex;
    flex-direction: column;

    .header {
      color: $c-darkgrey;
      font-weight: 500
    }
  }

  &:hover {
    background: #efefef;
    border-radius: 4px;
  }

}
