.form-containers {
  display: flex;
  margin-top: $rhythm * 4;

  .form-container {
    padding: $rhythm * 2;
    width: 50%;
    max-width: $rhythm * 40;
    margin-right: auto;

    &:first-child {
      border-right: thin solid $c-mediumgrey;
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.balance-label {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $screen-sm) {
  .form-containers {
    flex-direction: column;

    .form-container {
      width: 100%;
      margin-right: 0;

      &:first-child {
        border-right: 0;
        margin-left: 0;
      }
    }
  }
}
