@import "../../../styles/variables";
@import "../../../styles/button";

.account-container {
  display: flex;
  align-items: center;

  .btn-container {
    .btn {
      font-size: 15px;
    }

    .btn-error {
      background: $c-darkred;
    }
  }
  .info {
    display: flex;
    align-items: center;
    color: $c-black;
    padding: 6px;

    .info-img {
      margin-right: $rhythm;
      max-height: 20px;
      align-self: flex-start;
      z-index: 2;
    }

    .info-text {
      display: flex;
      flex-direction: column;
      min-width: 100px;
      color: $c-darkgrey;
      font-size: 85%;
      max-width: 150px;

      .info-header {
        color: $c-darkgrey;
        font-weight: 500;
      }

      .info-content {
        color: $c-black;
        overflow: hidden;
        max-width: 95%;
        text-overflow: ellipsis;
      }

      .info-hover {
        position: absolute;
        display: none;
        background: #efefef;
        top: 31px;
        right: 142px;
        padding: 6px;
        width: 122px;
        span {
          color: $c-black;
          margin-left:30px;
          width: 100px;
          display: block;
          padding-bottom: 4px;
        }
      }
    }

    &:hover {
      background: #efefef;
      border-radius: 4px;
      .info-hover {
        display: block;
      }
    }
  }
}

.message-container {
  width: 100%;
  background-color: $c-white;
  border: 1px solid $c-red;
  border-radius: 4px;
  color: $c-red;
  padding: $rhythm;
}

.info-container {
  display: flex;
  align-items: center;
}

svg {
  &.login,
  &.register {
    path {
      fill: #ffffff;
    }
  }

  &.wallet {
    path {
      stroke: #ffffff;
    }

    path:last-of-type {
      fill: #ffffff;
    }
  }

  &.register {
    enable-background: new 0 0 48 48;
    polygon {
      fill: #ffffff;
    }
  }
}
