.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  z-index: 1000;
}

.modal-constraint {
  width: 360px;
}

.pre {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;

  .close {
    height: 23px;
    width: 23px;
    padding: 0;
    border: 2px solid $c-black;
    border-radius: 50%;
    font-weight: bold;
  }
}

.content {
  background-color: $c-white;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
}