.title {
  @include f-heading;
  margin-bottom: 1.5rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

@media screen and (max-width: $screen-sm) {
  .title {
    text-align: center;
  }
  
  .list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}