.logo {
  margin: 0;
  border: 1px solid $c-black;
  font-size: $f-base;

  a {
    display: flex;
    align-items: center;
  }

  img {
    width: 3.2rem;
    height: 3.2rem;
  }

  span {
    @include f-logo;
    display: block;
    padding: 0 1.25rem;
  }
}