.app-root {
  background-color: $c-lightgrey;

  stencil-router {
    display: flex;
    flex-grow: 1;

    stencil-route-switch {
      width: 100%;
    }
  }

  layout-footer {
    margin-top: auto;
  }
}
