.dot {
  margin-right: 12px;
  width: 9px;
  height: 9px;
  background-color: rgb(239, 62, 74);
  display: inline-block;
  border-radius: 6px;
  animation: pulse 1.2s ease 0s infinite normal none running;

  &.connected {
    background-color: rgb(11, 192, 118);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}