.btn {
  background-color: $c-blue;
  color: $c-white;
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 80px;
  min-height: 30px;
  box-shadow: 1px 2px 4px $c-lightgrey;

  &:not(:disabled) {
    &:hover {
      background-color: $c-bluealt;
    }
  }

}

.btn-alternate {
  background-color: $c-darkgrey;
  color: $c-white;

  &:not(:disabled) {
    &:hover {
      background-color: $c-mediumgrey;
    }
  }

}

.btn-container {
  display: flex;
  flex-direction: row;
   .btn {
    margin-right: 10px;
     &:last-child {
      margin-right: 0;
    }
  }
}
