$c-black: #101010;
$c-blue: #2f80ed;
$c-lightgrey: #f8f8f8;
$c-mediumgrey: #c6c6c6;
$c-darkgrey: #707070;
$c-red: #ff0000;
$c-darkred: #c00000;
$c-white: #fff;

$f-rem: 15px;

$f-logo: 1rem;
$f-heading: 1.5rem;
$f-base: 1rem;
$f-sm: 0.73rem;

$f-light: 300;
$f-reg: 400;
$f-bold: 700;

$site-width: 50rem;
$screen-sm: 600px;

$rhythm: 10px;
