$c-black: #101010;
$c-blue: #2F80ED;
$c-lightgrey: #C6C6C6;
$c-darkgrey: #707070;
$c-red: #FF0000;
$c-white: #FFF;

$f-rem: 15px;

$f-logo: 1rem;
$f-heading: 1.5rem;
$f-base: 1rem; 
$f-sm: 0.73rem;

$f-light: 300;
$f-reg: 400;
$f-bold: 700;

$site-width: 50rem;
$screen-sm: 600px;