/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

html {
  font-size: 15px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Chivo', sans-serif;
}

html, body {
  height: 100%;
}