.constraint {
  margin: auto;
  width: 100%;
  max-width: $rhythm * 35;
  padding: $rhythm;
}

.button {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.smallprint {
  margin: $rhythm * 2 0 $rhythm * 2 0;
  font-size: 0.78rem;
  font-weight: 400;
  color: $c-darkgrey;
}
