.constraint {
  margin: auto;
  width: 100%;
  max-width: $rhythm * 35;
  padding: $rhythm;
}

.header {
  font-size: 130%;
  font-weight: normal;
  text-align: center;
  margin: $rhythm * 2 0 $rhythm * 4;
}

.button {
  display: block;
  margin: 0 auto;
  width: 150px;
}