:host {
  width: 100%;
}

.blurred {
  filter: blur(8px);
}

button {
  background: #5851ff;
  color: white;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.fill {
  min-height: 100%;
  height: 100%;
}

.welcome-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #555555;
  }

  .flex-container {
    display: flex;

    .flex-item {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin: 20px;
      max-width: 50%;
      min-width: 50%;
      text-align: left;
    }
  }

  @media screen and (max-width: $screen-sm) {
    width: 90%;
    top: 50%;

    .welcome-message {
      width: 80%;
    }

    .flex-container {
      flex-direction: column;

      .flex-item {
        width: 100%;
        max-width: none;
        margin-bottom: 0;
        margin-right: 0;
        border-right: 0;
        margin-left: 0;
      }
    }
  }
}

.error-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #555555;
  }
}

#discordbutton {
  position: fixed;
  background: url("https://d29fhpw069ctt2.cloudfront.net/icon/image/38832/preview.svg");
  bottom: 15px;
  right: 25px;
  width: 50px;
  height: 50px;
}
