.coin {
  position: absolute;
  animation: fall infinite linear;
  transform: translateY(-30vh);
}

@keyframes fall {
	from { transform: translateY(-30vh); }
	to { transform: translateY(130vh); }
}


@media screen and (max-width: 600px) {
  .coin {
    height: 66px;
    width: 66px;
  }
}